body{
  background-color: aqua;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  height: 100vh;
}

.joke{
  font-size: larger;
}
.punchline{
  font-size: xx-large;
  color: blue;
  padding-top: 30px;
}